body{
    height: 100%;
    width: 99%;
    background-image: url(vs-code-logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
.totu{
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    display: flex;
    align-items: center;
    justify-content: left;
}
header{
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    display: flex;
    align-items: center;
    justify-content: left;
  }
  a{
    text-decoration: none;
    color: white;
  }
  :hover.liens{
    text-decoration: underline;
    color: white;
  }
  .lien0{
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  :hover.lien0{
    text-decoration: underline;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien1{
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  :hover.lien1{
    text-decoration: underline;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien2{
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  :hover.lien2{
    text-decoration: underline;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien3{
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  :hover.lien3{
    text-decoration: underline;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien4{
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  :hover.lien4{
    text-decoration: underline;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien5{
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  :hover.lien5{
    text-decoration: underline;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien6{
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  :hover.lien6{
    text-decoration: underline;
    color: white;
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
.chepa{
  width: 1000px;
  height: 200px;
  display: flex;
  align-items: center;
}
