body{
    height: 97.5vh;
    width: 99%;
    background-color: rgb(30, 30 ,30);
    background-size: 100% 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    position: absolute;
    left: 0px;
    width: 98%;
    padding-left: 30px;
}
h1{
    text-align: center;
    position: absolute;
    top: 17%;
    left: 39%;
    color: white;
    font-size: 60px;
}
.pres{
    position: absolute;
    left: 17%;
    top: 100px;
    width: 1000px;
    height: 200px;
}
.lien0{
    position: absolute;
    left: 34vh;
    top: 0px;
    text-decoration: none;
    display: flex;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 25px;
}
:hover.lien0{
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
}
.lien1{
    position: absolute;
    left: 45vh;
    top: 0px;
    text-decoration: none;
    display: flex;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 25px;
}
:hover.lien1{
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
}
.lien2{
    position: absolute;
    left: 54vh;
    top: 0px;
    text-decoration: none;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 25px;
}
:hover.lien2{
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
}
.lien3{
    position: absolute;
    top: 0px;
    left: 62vh;
    text-decoration: none;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 25px;
}
:hover.lien3{
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
}
.lien4{
    position: absolute;
    left: 70vh;
    top: 0px;
    text-decoration: none;
    display: flex;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  :hover.lien4{
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien5{
    position: absolute;
    left: 83vh;
    top: 0px;
    text-decoration: none;
    display: flex;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  :hover.lien5{
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
  .lien6{
    position: absolute;
    left: 106vh;
    top: 0px;
    text-decoration: none;
    display: flex;
    color: white;
    background: linear-gradient(rgb(20, 20, 20), rgb(0, 0, 0), rgb(20, 20, 20));
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  :hover.lien6{
    background: linear-gradient(rgb(0, 0, 0), rgb(20, 20, 20), rgb(0, 0, 0));
  }
.pres{
    position: absolute;
    left: 17%;
    top: 100px;
    width: 1000px;
    height: 200px;
}
h1{
    text-align: center;
    position: absolute;
    top: 17%;
    left: 45%;
    color: white;
    font-size: 60px;
}
.fleche{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    rotate: 45deg;
}
.presentation{
    color: white;
    position: absolute;
    top: 40%;
    left: 36%;
    font-size: 40px;
}
.pbts{
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
    font-size: 20px;
}
.options{
    color: white;
    display: flex;
    justify-content: space;
    position: absolute;
    top: 65%;
    font-size: 20px;
    left: 25%;
}